@keyframes floatRight {
	0% {transform: translatex(0px);}
  50% {transform: translatex(30px);}
	100% {transform: translatex(0px);}
}


@keyframes floatTop {
	0% {transform: translatey(0px);}
  50% {transform: translatey(-30px);}
	100% {transform: translatey(0px);}
}

